* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  /* border: 2px solid red; */
  width: 100%;
  height: 90px;
  font-size: 12px;
  text-align: center;
  background-color: aliceblue;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 5px 5px rgba(98, 97, 97, 0.5);
}


li {
  /* border: 2px solid red; */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: bold;
}

.list-item {
  /* border: 2px solid red; */
  cursor: pointer;
  padding: .5rem;
}

a {
  color: black;
}

.flex {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.cart-count {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgb(255, 0, 0);
  color: white;
  width: 25px;
  height: 25px;
  font-size: 12px;
  font-weight: bold;
  padding: .2rem .2rem;
  border-radius: 50%;
}

.component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

button {
  width: 100%;
  padding: 1rem;
  background-color: rgb(206, 188, 20);
  border: none;
  border-radius: 10px;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(98, 97, 97, 0.5);
}

button:hover {
  background-color: rgb(230, 211, 48);
}

.shopping-mall-bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* shopping.jsx */

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
}

.product-card {
  padding: 1rem;
  background-color: wheat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
  width: 300px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(98, 97, 97, 0.5);
}
.product-card:hover {
  box-shadow: 10px 10px 10px rgba(98, 97, 97, 0.5);
}

.product-image-title-container {
  /* border: 2px solid red; */
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: .5rem;
}

.product-image-container {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 210px;
  overflow: hidden;
}

.product-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-image-title-container h3 {
  font-size: 16px;
  overflow: hidden;
}

.product-rating-container {
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: .5rem;
}

.price-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 24px;
}

.product-quantity-container {
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
}

/* cart.jsx */

.cart-title {
  margin-top: 1rem;
  font-size: 30px;
  font-family: 'comic sans ms', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-align: center;
}

.cart-container {
  /* background-color: rgb(0, 255, 136); */
  width: 90%;
  padding: 1rem .5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.cart-container >p {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cart-items {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart-item {
  width: 100%;
  height: 190px;
  border-radius: 10px;
  background-color: #F5F5DC;
  padding: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.cart-item img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.cart-item-info {
  /* border: 2px solid red; */
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .8rem;
}

.item-price {
  font-size: 24px;
  color: rgb(31, 50, 154);
}

.subtotal {
  font-size: 20px;
  font-weight: bold;
  color: rgb(31, 50, 154);
}

.quantity-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;
}

.plus-minus:hover {
  cursor: pointer;
  stroke-width: 3px;
  stroke: rgb(56, 55, 55);
}

.remove-button {
  width: 10rem;
  background-color: #F5F5DC;
  color: rgb(0, 0, 0);
  padding: .5rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: none;
}

.remove-button:hover {
  background-color: rgb(175, 15, 15);
  color: white;
}

.remove-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.cart-total {
  position: fixed;
  top: 130px;
  right: 80px;
  background-color: rgb(249, 185, 96);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  width: 300px;
  min-height: 250px;
  box-shadow: 5px 5px 5px rgba(98, 97, 97, 0.5);
  font-size: large;
  font-weight: bold;
}

.total-amount {
  font-size: 28px;
  color: rgb(31, 50, 154);
}

.cart-actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  gap: 1rem;
}

.cart-actions button {
  padding: .5rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: none;
  font-size: 16px;
  font-weight: bold;
}

.checkout-button {
  background-color: rgb(8, 226, 62);
  color: rgb(0, 0, 0);
}
.checkout-button:hover {
  background-color: rgb(0, 255, 136);
  color: rgb(0, 0, 0);
}

.clear-cart-button {
  background-color: rgb(175, 15, 15);
  color: white;
}

.clear-cart-button:hover {
  background-color: rgb(255, 0, 0);
  color: white;
}

.footer {
  background-color: rgb(11, 58, 99);
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  padding: 1rem 3rem;
}

.social-media {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  margin-top: .5rem;
}


